body {
	font-family: 'Segoe UI', 'Roboto', sans-serif;
	font-weight: 300;
    background-color: #010713;
    padding: 100px;
}

header {
	padding: 25px 0;
    background: #212630;
    min-width: 100%;
    transition: all 0.1s ease;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #B87604;
}
header.fix{
    padding: 15px 0;
    transition: all 0.4s ease;

}

header .row,
footer .row {
	display: flex;
	align-items: center;
}

header h1 {
	font-weight: 400;
	margin: 0;
    color: #FFFFFF
}
header h1.fix{
    font-size: 30px;
    padding-left: 30px;
}
header nav {
	display: flex;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
    margin: 0px;
}

header a, header a:hover, header a:enabled, header a:active, header a:link, header a:visited {
    color: #B87604;
    text-decoration: none;
}

.jumbotron {
	display: flex;
	align-items: center;
	background-image: url('https://images7.alphacoders.com/587/587593.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #FFFFFF;
	height: 500px;
	text-shadow: 0.25px 0.25px 0.25px #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #B87604;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #FFFFFF;
}

.section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #A32E00;
    text-shadow: none;
    background-color: #FFFFFF;
}

.btn.btn-primary:hover {
  color: #FFFFFF;
  background-color: #B87604;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #FFFFFF;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
	display: flex;
	justify-content: flex-end;
}

footer ul {
	list-style: none;
}

footer li img {
	width: 32px;
	height: 32px;
}